*{
  box-sizing: border-box;
}
body{
  font-family: "Times New Roman";
}
h1{
  text-align: center;
  margin: 20;
}
@media (min-width: 992px){
  #p1, #p2, #p3{
    width: 30%;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #p1, #p2{
    width: 45%;
    box-sizing: border-box;
  }
  #p3{
    width: 93%;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  #p1, #p2, #p3{
    width: 90%;
  }

}
#p1, #p2, #p3{
  height: 200px;
  float: left;
  padding: 10px;
  margin: 10px;
  border: 1px solid Black;
}
#p1{
  position: relative;
  background-color: Tomato;
  color: Indigo;
  padding-top: 50px;
}
#p2{
  padding-top: 50px;
  color: LightCyan;
  position: relative;
  background-color: DodgerBlue;
}
#p3{
  padding-top: 50px;
  color: LawnGreen;
  position: relative;
  background-color: Violet;
}
#head1, #head2, #head3{
  font-size: 24px;
  width: 40%;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid Black;
}
#head1{
    background-color: Orange;
}
#head2{
  background-color: SlateBlue;
}
#head3{
  background-color: Crimson;
}
